@import url('https://fonts.googleapis.com/css2?family=Nunito:ital@0;1&display=swap');

html,body{
    scroll-behavior: smooth;
}
body{
    font-family: nunito, sans-serif;
    font-size: 16px;
    overflow-x: hidden;
}

.hero-img{
    min-height: 100vh;
    position: relative;
}

.img-hero{
    position: absolute;
    bottom: -200px;
    right: 0;
}

.img-about{
    border-radius: 15px;
}

.section{
    padding-top: 90px;
    padding-bottom: 90px;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #0984e3;
    ;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  
  .timeline-container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  
  .timeline-container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -13px;
    background-color: white;
    border: 4px solid #0984e3;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  
  .timeline-left {
    left: 0;
  }
  .timeline-right {
    left: 50%;
  }
  .timeline-left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
  }
  .timeline-right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  .timeline-right::after {
    left: -13px;
  }
  .content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
  }
  @media screen and (max-width: 600px) {
    .timeline::after {
    left: 31px;
    }
    
    .timeline-container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
    }
    
    .timeline-container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
    }
  
    .timeline-left::after, .timeline-right::after {
    left: 15px;
    }
    
    .timeline-right {
    left: 0%;
    }
  }

  .section-title{
    padding-bottom: 30px;
  }


.social-icon{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 2.8rem;
}

.wa-icon{
    color: #25d366;
}

.fb-icon{
    color: #1877f2;
}

.ig-icon{
    color: #c32aa3;
}

.tw-icon{
    color:  #1da1f2;
}

.ln-icon{
    color: #00c300;
}
  